img#amazon-smile-log {
    float: left;
	padding-right: 10px;
}

div#div-amazon-smile {
    text-align: left;
}

img#web-dog-1 {
    float: left;
    width: 200px;
    padding-left: 300px;
}

img#web-dog-2 {
    float: right;
    width: 200px;
    padding-right: 300px;
   
}

div#main-header {
    text-align: center;
    font-size: 20px;
}

marquee {
    text-align: center; 
    color: green;
    height: 25px;
}

img.dog-beg {
    
    border: 0;
    width: 160px;
    height: 160px;
    float: left;
}